.hw-top {
    background: white;
    color: black;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  }
  
  #plasmo-shadow-container {
    width: 200px;
    background-color: purple;
  }
  
  #plasmo-mount-container {
    border: 8px solid aqua;
  }
